.CreditFraud {
  background-color: #F2F4F4;
  overflow-x: scroll;
}

.AboutStyles {
  background-color: #F2F4F4;
}
.container {
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
}


tr {
  height: 40px !important;
}

th {
  max-width: 125px;
  min-width: 125px;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
}

td {
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
}
